# dependencies
/node_modules/

# test output
coverage/
reports/

# dist
dist/

# build cache
.cache
.serverless
.webpack
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup

# dot files
.DS_Store
*.env*
package-lock.json

# log files
*.log
