# dependencies
/node_modules/

# test output
coverage/
reports/

# dist
dist/

# build cache
.cache
.serverless
.webpack
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
.terraform/

# dot files
.DS_Store
*.env*
package-lock.json

# log files
*.log
